body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
}

.App {}

.login_form {
  display: flex;
  flex-direction: column;
  width: 320px;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid;
}

.error {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid;
}

.auth {
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.login_form_login {
  margin: 5px;
  text-align: center;
}

.login_form_password {
  margin: 5px;
  text-align: center;
}

.login_form_enter {
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.all_task {
  display: flex;
  border: 1px solid;
  padding: 6px;
  gap: 6px;
}

.in_queue {
  border: 1px solid;
  padding: 6px;
}

.in_progress {
  border: 1px solid;
  padding: 6px;
}

.done {
  border: 1px solid;
  padding: 6px;
}

.one_task {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 20px;
}

.one_task_header {
  display: flex;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.modal_body {
  width: 320px;
  background-color: white;
  margin-top: 100px;
}

.modal_input {
  display: flex;
}

.modal_input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modul_select {
  display: flex;
  width: 100px;
  height: 21px;
  font-size: 1px;
}
.modul_footer{
  display: flex;
}

.modul_btn{
  width: 100px;
}

/* Стили для кнопки */
.dropbtn {
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 16px; */
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Стили для выпадающего контента */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  cursor: pointer;
}

/* Стили для ссылок в выпадающем контенте */
.dropdown-content div {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Стили для ссылок в выпадающем контенте при наведении */
.dropdown-content div:hover {
  background-color: #ddd;
}

/* Показываем выпадающий контент, когда курсор находится над кнопкой */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Скрыть выпадающий контент, когда курсор покидает кнопку */
.dropdown:hover .dropbtn {
  background-color: hsla(233, 80%, 41%, 0.228);
}


.one_task_img {
  height: 40px;
  width: 40px;
}

.tasks_header {
  border: solid 1px black;
  display: flex;
  align-items: center;
  width: 165px;
  margin-bottom: 5px;
}
